<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contac.css">
    <link rel="icon" href="/img/logo.png">
    <title>La cocina de Lucy</title>
</head>
<body>
    <header>
        <section id="head">
            
                
            <article id="titulo">
                
               <a href="/"><img src="img/logo.png" id="Logo"></a> 
                
                <a href="Info.html" rel="noopener noreferrer" class="Liks">Quienes somos?</a>
                
                <h1>La cocina de Lucy</h1>
                
                <a href="Menu.html"  rel="noopener noreferrer" class="Liks">Menus</a>
                
                <a href="contac.html"  rel="noopener noreferrer" class="Liks">Contactos</a>
            
            </article>
        
        </section>
    </header>
    <main>
        <section id="centro">

            <article id="opcion">
                
                <button class="selec"> <a href="Info.html" target="_blank" rel="noopener noreferrer">Quienes somos?</a></button>
                
                <button class="selec"><a href="Menu.html" target="_blank" rel="noopener noreferrer">Menus</a></button>
                
                <button class="selec"><a href="contac.html" target="_blank" rel="noopener noreferrer">Contactos</a></button>
            
            </article>

           <section id="alin">
                <article class="Welc">

                    <p>
                        ¡¡Estamos aquí para ti en "La Cocina de Lucy"! Si necesitas algo, ya sea hacer un pedido o simplemente tienes una pregunta, ¡no dudes en ponerte en contacto con nosotros! Completa el formulario o utiliza la redes sociales para ponerte en contacto con nosotros. Estamos ansiosos por ayudarte y hacerte sentir como en casa.
                    </p>

                </article>

                <article id="form">
                    <p> Contactenos ahora!!</p>
                    <form action="" method="get">

                        <label> Nombre y Apellido</label>
                        <input type="name" name="name" required>

                        <label> Email </label>
                        <input type="email" name="mail" required>
                        
                        <label> Comentario </label>
                        <input type="text" name="comentario" id="coment" required>
                        <button type="submit">Enviar</button>
                        <button type="reset">Borrar</button>
                    </form>
                 
                        
                </article>    
                    
           </section>
                
        </section>
        
    </main>
    <footer>

        <section id="foot">

            <a href="https://www.instagram.com/accounts/login/" target="_blank" rel="noopener noreferrer"><img src="img/ig.png" class="redes"></a>
            
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="img/tw.png" class="redes"></a>
           
            <a href="https://www.linkedin.com/login/es" target="_blank" rel="noopener noreferrer"><img src="img/linkeding.png" class="redes"></a> 
        
        </section>

    </footer>
</body>
</html>