<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="icon" href="/img/logo.png">
    <title>La cocina de Lucy</title>
</head>
<body>
    <header>
        <section id="head">
            
                
            <article id="titulo">
                
               <a href="/"><img src="img/logo.png" id="Logo"></a> 
                
                <a href="Info.html" rel="noopener noreferrer" class="Liks">Quienes somos?</a>
                
                <h1>La cocina de Lucy</h1>
                
                <a href="Menu.html"  rel="noopener noreferrer" class="Liks">Menus</a>
                
                <a href="contac.html"  rel="noopener noreferrer" class="Liks">Contactos</a>
            
            </article>
        
        </section>
    </header>
    <main>
        <section id="centro">

            <article id="opcion">
                
                <button class="selec"> <a href="Info.html" target="_blank" rel="noopener noreferrer">Quienes somos?</a></button>
                
                <button class="selec"><a href="Menu.html" target="_blank" rel="noopener noreferrer">Menus</a></button>
                
                <button class="selec"><a href="contac.html" target="_blank" rel="noopener noreferrer">Contactos</a></button>
            
            </article>

           <section id="alin">
                <article class="Welc">

                    <p>
                        ¡Bienvenidos a "La Cocina de Lucy" Donde cada plato está lleno de amor y sabor casero. Somos un emprendimiento dedicado a proporcionar pasteleria, preparadas con los ingredientes más frescos y la pasión de una madre en su cocina.
                    </p>

                </article>

                <article id="comidas" >

                    <img src="/img/food/macarons.png" class="imag">

                    <img src="/img/food/mini cake.png" class="imag">
                    
                    <img src="/img/food/Cookies and Cream Cake.png" class="imag">

                </article>
           </section>
                
        </section>
        
    </main>
    <footer>

        <section id="foot">

            <a href="https://www.instagram.com/accounts/login/" target="_blank" rel="noopener noreferrer"><img src="img/ig.png" class="redes"></a>
            
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="img/tw.png" class="redes"></a>
           
            <a href="https://www.linkedin.com/login/es" target="_blank" rel="noopener noreferrer"><img src="img/linkeding.png" class="redes"></a> 
        
        </section>

    </footer>
</body>
</html>