<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Info.css">
    <link rel="icon" href="/img/logo.png">
    <title>La cocina de Lucy</title>
</head>
<body>
    <header>
        <section id="head">
            
                
            <article id="titulo">
                
                <a href="/"><img src="img/logo.png" id="Logo"></a> 
                
                <a href="Info.html" rel="noopener noreferrer" class="Liks">Quienes somos?</a>
                
                <h1>La cocina de Lucy</h1>
                
                <a href="Menu.html" rel="noopener noreferrer" class="Liks">Menus</a>
                
                <a href="contac.html" rel="noopener noreferrer" class="Liks">Contactos</a>
            
            </article>
        
        </section>
    </header>
    <main>
        <section id="centro">

            <article id="opcion">
                
                <button class="selec"><a href="Info.html" target="_blank" rel="noopener noreferrer">Quienes somos?</a></button>
                
                <button class="selec"><a href="Menu.html" target="_blank" rel="noopener noreferrer">Menus</a></button>
                
                <button class="selec"><a href="contac.html" target="_blank" rel="noopener noreferrer">Contactos</a></button>
            
            </article>

           <section id="alin">
                <article class="Welc">

                    <p>
                        ¡¡Bienvenidos a "La Cocina de Lucy"!

                        En este apartado, queremos presentarte a la mente maestra detrás de cada sabor y cada sonrisa en "La Cocina de Lucy": ¡Lucy misma!
                    </p>

                </article>
                <img src="/img/Lucy.png" alt="" id="she">
                <article class="Welc2">
                    
                    <p>
                        ¿Quién es Lucy?                        
                        
                        Lucy no es solo una chef, es la personificación del amor, la pasión y la dedicación en la cocina. Con una sonrisa radiante y un corazón lleno de creatividad, Lucy ha convertido su pasión por la cocina en un verdadero arte.  
                        Su historia está tejida con hilos de tradición familiar, recetas transmitidas de generación en generación y una conexión profunda con los sabores que nos hacen sentir como en casa. 
                    </p>
                    
                </article>

                <article class="Welc2">

                    <p>
                        "La Cocina de Lucy" comenzó como un sueño de Lucy por compartir su amor por la comida casera. Comenzó ofreciendo sus delicias a amigos y familiares, y pronto el boca a boca atrajo más clientes, llevándola a establecer oficialmente su emprendimiento. Desde entonces, ha crecido gracias a su compromiso con la calidad y la autenticidad.
                    </p>
                    
                </article>

                
            </section>
                
        </section>
        
    </main>
    <footer>

        <section id="foot">

            <a href="https://www.instagram.com/accounts/login/" target="_blank" rel="noopener noreferrer"><img src="img/ig.png" class="redes"></a>
            
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="img/tw.png" class="redes"></a>
           
            <a href="https://www.linkedin.com/login/es" target="_blank" rel="noopener noreferrer"><img src="img/linkeding.png" class="redes"></a> 
        
        </section>

    </footer>
</body>
</html>