<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="icon" href="/img/logo.png">
    <title>La cocina de Lucy</title>
</head>
<body>
    <header>
        <section id="head">
            
                
            <article id="titulo">
                
                <a href="/"><img src="img/logo.png" id="Logo"></a> 
                
                <a href="Info.html" rel="noopener noreferrer" class="Liks">Quienes somos?</a>
                
                <h1>La cocina de Lucy</h1>
                
                <a href="Menu.html" rel="noopener noreferrer" class="Liks">Menus</a>
                
                <a href="contac.html" rel="noopener noreferrer" class="Liks">Contactos</a>
            
            </article>
        
        </section>
    </header>
    <main>
        

        <article id="opcion">
                
            <button class="selec"><a href="Info.html"  rel="noopener noreferrer">Quienes somos?</a></button>
                
            <button class="selec"><a href="Menu.html"  rel="noopener noreferrer">Menus</a></button>
                
            <button class="selec"><a href="contac.html"  rel="noopener noreferrer">Contactos</a></button>
            
        </article>

        <article class="Welc">

            <p>
                ¡Bienvenido a nuestros Menús! Encontrarás una exquisita variedad de postres artesanales, desde clásicos como pasteles de chocolate y tartas de frutas hasta opciones más creativas como cupcakes decorados y macarons gourmet. Nuestros productos son elaborados con ingredientes frescos y de alta calidad, garantizando una experiencia dulce inigualable. ¿Estás listo para deleitar tu paladar con nuestras delicias?
             </p>

        </article>

        <section id="productos" >
        
            <article class="food">
                <img src="/img/food/mini cake.png" class="imgCo">
                <p>La chocolatina</p>
            </article>

            <article class="food">
                 <img src="/img/food/macarons.png" class="imgCo">
                    <p> Macarons </p>
            </article>

            <article class="food">
                <img src="/img/food/Cookies and Cream Cake.png" class="imgCo">
                <p>Bomba Oreo</p>
            </article>
            
            <article class="food">
                <img src="/img/food/Cup Cake popo.png" class="imgCo">
                <p>Popo Cake</p>
            </article>
            
            <article class="food">
                <img src="/img/food/Berry Cake.png" class="imgCo">
                <p>Berry Cake</p>
            </article>
            
            <article class="food">
                <img src="/img/food/mousse cake.png" class="imgCo">
                <p>Mousse Cake</p>
            </article>

            <article class="food">
                <img src="/img/food/Crema desierto.png" class="imgCo">
                <p>Crema del Desierto</p>
            </article>

            <article class="food">
                <img src="\img\food\Mini red velvet.png" class="imgCo">
                <p>Red Velvet</p>
            </article>

            <article class="food">
                <img src="\img\food\Muffing cup.png" class="imgCo">
                <p>Cup Pink</p>
            </article>
        
        </section>
   
    </main>
    <footer>

        <section id="foot">

            <a href="https://www.instagram.com/accounts/login/" target="_blank" rel="noopener noreferrer"><img src="img/ig.png" class="redes"></a>
            
            <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="img/tw.png" class="redes"></a>
           
            <a href="https://www.linkedin.com/login/es" target="_blank" rel="noopener noreferrer"><img src="img/linkeding.png" class="redes"></a> 
        
        </section>

    </footer>
</body>
</html>